JWT_SECRET=replace_me

CLOUDINARY_URL=replace_me

APP_NAME=app_name

REDIS_URL=your_url

DB_NAME=your_db_name
MYSQL_ROOT_PASSWORD=your_root_password

JDBC_URL=your_db_url
JDBC_USERNAME=your_db_username
JDBC_PASSWORD=your_db_password

MAIL_PASSWORD=your_email_password
MAIL_USERNAME=your_email_username
MAIL_YOUTH_EMAIL=your_email_username

FACEBOOK_CLIENT-ID=your_facebook_client-id
FACEBOOK_CLIENT-SECRET=your_facebook_client-secret

GOOGLE_CLIENT-ID=your_google_client-id
GOOGLE_CLIENT-SECRET=your_google_client-secret